* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main_background: hsl(233, 47%, 7%);
    --card_background: hsl(244, 38%, 16%);
    --accent: hsl(277, 64%, 61%);
    --main_heading_stats: hsl(0, 0%, 100%);
    --main_paragraph: hsla(0, 0%, 100%, 0.75);
    --stat_headings: hsla(0, 0%, 100%, 0.6);
}

body {
    background-color: var(--main_background);
    font-size: 15px;
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Inter', sans-serif;
}

p {
    font-family: 'Inter', sans-serif;
}

span {
    color: var(--accent);
}

h2, h1 {
    font-family: 'Lexend Deca', sans-serif;    
}

.upper-content h1, .lower-content h2 {
    color: var(--main_heading_stats);
}

@media only screen and (max-width: 1100px) {
    
    
    

    .container-picture {
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
        background-color: var(--accent);
        object-fit: cover;
        overflow: hidden;  
        max-width: 375px;
    }

   
    
    .container-picture img {
        display: block;
        mix-blend-mode: multiply;
        opacity: 0.7; 
        max-width: 375px; 
    }

    h1 {
        padding: 10% 4% 3%;
        font-size: 1.8rem;    
    }

    h2 {    
        padding-bottom: 0.4%;
    }

    .div-content {
        background-color: var(--card_background);
        width: 90vw;    
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-family: 'Lexend Deca', sans-serif;
        margin-bottom: 4%;
        border-radius: 0 0 10px 10px;
        max-width: 375px;
    }

    .upper-content p {
        padding: 3%;
        padding-bottom: 3%;
        line-height: 1.5rem;
    }

    main p {
        color: var(--main_paragraph);
        line-height: 1.8rem;
    }

    .lower-content p {
        color: var(--main_paragraph);
        letter-spacing: 0.09rem;
        margin-bottom: 3%; 
    }

    .count-one {
        padding-top: 8%;
    }

    .count-three {
        padding-bottom: 2%;
    }

    .container-picture, img {
        border-radius: 10px 10px 0 0;
    }

    
    
    footer {
        display: flex;
        width: 100%;
        
        align-items: center;
        flex-direction: column;
        padding-bottom: 5%;

    }

    footer a, footer span {
        color: var(--main_paragraph);
        font-family: 'Lexend Deca', sans-serif;
        display: block;
        
        
    }

    .link-to-my-site {
        text-align: center;
        
        
        
    }
    
    a:link {
        color: var(--main_paragraph);
        
    }
    
    
    a:visited {
        color: var(--main_paragraph);
        
    }
    
    
    a:hover {
        color: var(--main_paragraph);
        
    }
    
    
    a:active {
        color: var(--main_paragraph);
        
    }

    
    
}

@media only screen and (min-width: 1101px) {
        
    .holder {
        display: flex;        
        height: 465px;
        width: 1100px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%); 
        
    }
        
    img {
        width: 100%;
        height: 465px;
    }

    main {
        width: 50%;
        background-color: var(--card_background);
        order: -1;        
        height: 465px;
        border-radius: 10px 0 0 10px;        
    }

    .div-content {        
        order: 1;
        height: 465px;
    }

    .container-picture {
        background-color: var(--accent);
        object-fit: cover;
        overflow: hidden;
        width: 50%;
    }
      
    .container-picture img {        
        mix-blend-mode: multiply;
        opacity: 0.7;    
    }

    .upper-content {
        width: 75%;
        margin-left: 10%;
        height: 50%;        
    }

    .upper-content p {
        color: var(--main_paragraph);
    }
    
    .upper-content h1, .upper-content p {
        padding-top: 15%;
        height: 50%;
    }

    .upper-content h1 {
        font-weight: 700;
        font-size: 2.1em;
    }

    .upper-content p {
        letter-spacing: 0.07rem;
        line-height: 1.5rem;
    }

    .lower-content {
        width: 75%;
        height: 50%;
        display: flex;
        justify-content: space-between;
        margin-left: 10%;        
        align-items: center;
    }

   .lower-content p {
        color: var(--stat_headings);
        padding-top: 0.4rem;
        letter-spacing: 0.07rem;
        font-size: 0.9em;
    }

    .lower-content h1 {
        font-size: 1.5em;
    }
    
    .container-picture, img {
        border-radius: 0 10px 10px 0;
    }

    footer {
        position: fixed;
        bottom: 0;
        width: 100vw;
        display: flex;
        justify-content: center;
        transition: 0.7s ease-in-out;
        
    }

    footer a, footer span {
        color: var(--main_paragraph);
        font-family: 'Lexend Deca', sans-serif;
    }

    .link-to-my-site {
        margin-left: 10px;
        
        
    }
    
    a:link {
        color: var(--main_paragraph);
        
    }
    
    
    a:visited {
        color: var(--main_paragraph);
        
    }
    
    
    a:hover {
        color: var(--main_paragraph);
        
    }
    
    
    a:active {
        color: var(--main_paragraph);
        
    }

    footer:hover {
        transform: scale(1.2);
    }
}
